@media (min-width:600px){
    .grid-container{
        grid-template-areas: 
        "header" "header" 
        "browser-dimension-container"
        "main-cards"
        "footer";
    }
    .title{
        font-size: 60px
  
}
/* .header-img{
    margin-top: 2%;
    left: 30%;
} */
}

/* @media(max-width: 600px){
    .title{
      font-size: 60px;
      position: absolute;
      top: 0;
      left: 30%;
      width: 100%;
      font-size: 5vh;
     color: rgb(255, 255, 255);
     text-shadow: 0 0 10px rgb(6, 218, 179);
     margin-top: 0;

}
  } */